/* global */
*{
    margin: 0;

}

li{
    /* text-decoration: none; */
    list-style: none;
}
/* .clear-both{
    clear: both;
} */
ul{
    margin: 0;
    padding: 0;
}
.justfix::after{
    content: "";
    clear: both;
    display: table;

}

/* Navigation */

.main-header{
    background-color: #c3f584;
    width: 100%;
    padding: 15px 0px;
    position: fixed;
    z-index: 101;
    top: 0;
    
}

.main-header>div{
    display: inline-block;
    /* background-color: rebeccapurple; */
    vertical-align: middle;
    top: -7px;
    /* right: 50px; */
    position: relative;
}
.main-header__brand{
    text-decoration: none;
    font-weight: bolder;
    color: #2f3542;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-left: 15px;
    vertical-align: middle;
}

.main-nav{
    display: inline-block;
    /* float: right; */
    text-align: right;
    width: calc(100% - 110.438px);
    vertical-align: middle;
    position: relative;
    top: -7px;
}
.main-nav__item{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
    /* vertical-align: middle; */
    /* list-style: none; */
}

.main-nav__item a{
    text-decoration: none;
    margin: 20px 20px;
    font-family : 'Arial Narrow Bold', sans-serif;
    padding-bottom: 3px;
    /* color: #ff7f50; */

}
.main-nav__item a:hover{
    color: #3742fa;
    transition: 0.7s;
    border-bottom: 1px solid #3742fa;
}
.main-nav__item a:active{
    color: black;
}
.main-nav__item a::after{
    position: absolute;
    content: " ";
    color: red;
    /* transform: scale(1) rotate(180deg); */
    top: 8px;
    border-top: 8px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/* .main-nav__item a::after{
    position: absolute;
    content: " ";
    top: 15px;
    padding: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(225deg);
} */
.main-nav__item--cta a{
    background-color: white;
    border-radius: 3px;
    color: #7bed9f;
    padding: 8px 10px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    background-color: #7bed9f;
    color : white;
    border: none;
}
.main-nav__item--cta a::after{
    content: " ";
    border-top: 2px solid transparent;
}


/* Mobile navigation */
.mobile-nav{
    display: none;
    position: fixed;
    height: 100vh;
    background: white;
    top: 0;
    left: 0;
    width: 70%;
    padding-top: 30px;

}
.mobile-nav li{
    text-align: center;
}
.mobile-nav__item a{
    text-decoration: none;
    margin: 20px 20px;
    font-family : 'Arial Narrow Bold', sans-serif;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 15px;
    /* color: #ff7f50; */
    /* width: 25px; */

}
.mobile-nav__item a:hover{
    background: #32ff7e;
    /* height: 20px; */
}
.mobile-nav__item a:first-of-type{
    display: inline-block;
    padding: 10px 60px;
    width: 95px;

}
.hamburger{
    width: 38px;
    height: 30px;
    /* background-color: #9ff0bd; */
    background-color: #c3f584;;
    border: none;
}

.hambar{
    width: 20px;
    color: green;
    background: green;
    display: block;
    height: 3px;
    margin-top: 3px;
}
header button:focus{
    outline: none;
}


/* footer */
footer{
    background-color: black;
    height: 100px;
    text-align: center;
    position: relative;
    /* vertical-align: middle; */
}
footer nav{
    height: 30px;
    /* position: absolute; */
    vertical-align: middle;
}

footer li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 2.5%;
}
footer li a{
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
}
footer li a:hover{
    color: rgb(168, 154, 168);
}

/* Backdrop */
.backdrop{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
    background: rgba(0,0,0,0.5);
    
}

/* content */
.fullvp{
    height: calc(100vh - 100px);
}