.testimonial__name{
    font-family: sans-serif;
    color: #ff4d4d;
    padding-top: 30px;
}

.testimonial__subtitle{
    color: grey;
    font-size: medium;
    padding: 4px 4px 4px 0;

}
.testimonial__subtitle a {
    text-decoration: none;
    color: gray;
}
.testimonial__text{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

/* 
.testimonial__image-container {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    height: 1600px;
    border: 2px solid black;
  }

  
  .testimonial__info {
    text-align: right;
    padding: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    border: 2px solid black;
  }
   */

.testimonial__image-container{
    max-width: 680px;
    /* border: 2px solid black; */
    display: inline-block;
    vertical-align: middle;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.testimonial__image{
    width: 90%;
    box-shadow: 3px 3px 1px #ccc;
}

.testimonial__info{
    width: 30%;
    /* border: 2px solid black; */
    display: inline-block;
}
.testimonial__info a:hover{
    color: rgb(0, 0, 0);
}

#customer-2{
    text-align: right;
}
.test-container{
    min-height: calc(100vh - 100px);
}
