*{
    margin: 0;

}
li{
    /* text-decoration: none; */
    list-style: none;
}
html,body{height: 100%;}
header{
    background-color: #c3f584 ;
    max-height: 100%;
}

.main-header{
    background-color: #c3f584;
    width: 100%;
    padding: 15px 0px;
}

.main-header>div{
    display: inline-block;
    /* background-color: rebeccapurple; */
}
.main-header__brand{
    text-decoration: none;
    font-weight: bolder;
    color: #2f3542;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-left: 15px;
    vertical-align: middle;

}

.main-nav{
    display: inline-block;
    /* float: right; */
    text-align: right;
    width: calc(100% - 75.438px);
    
}
.main-nav__item{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    /* list-style: none; */
}

.main-nav__item a{
    text-decoration: none;
    margin: 20px 20px;
    font-family : 'Arial Narrow Bold', sans-serif;
    padding-bottom: 3px;
    /* color: #ff7f50; */

}
.main-nav__item a:hover{
    color: #3742fa;
    transition: 0.7s;
    border-bottom: 1px solid #3742fa;
}
.main-nav__item a:active{
    color: black;
}
.main-nav__item a::after{
    position: absolute;
    content: " ";
    color: red;
    /* transform: scale(1) rotate(180deg); */
    top: 23px;
    border-top: 8px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.main-nav__item--cta a{
    background-color: white;
    border-radius: 3px;
    color: #7bed9f;
    padding: 8px 10px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    background-color: #7bed9f;
    color : white;
    border: none;
}
.main-nav__item--cta a::after{
    content: " ";
    border-top: 8px solid transparent;
}

#product-overview{
    
    /* display: block; */
    /* background-color: #fe346e; */
    height: 80%;
    background-image: url("https://i.imgur.com/SSJ2VoT.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    /* height: 1000px; */
    
}
#product-overview h1{
    color: white;
}

/* Gods plan */

.plan__header{
    /* background-color: #7d5fff; */
    color: #6fb98f;
    /* transform: rotate(45deg); */
    text-align: center;
    margin: 25px 0;
}
.plan{
    width: 30%;
    height: 350px;
    display: inline-block;
    float: left;
    text-align: center;
    background-color: #d2fafb;
    margin: 1%;
    padding: 25px 0;
    border-radius: 10px;
    font-family : 'Arial Narrow Bold', sans-serif;
    position: relative;
    /* vertical-align: middle; */
}
.plan:nth-child(2){
    /* height: 370px; */
    transform: scaleY(1.05);
    /* position: absolute; */
    background-color: #51dacf;
    color: white;
    box-shadow: 2px -1px 4px -1px black;
    
}
.plan:nth-child(2) button{
    color: white;
}
.plan__title{
    margin: 25px 0;
}
.plan__price{
    color: #777676 ;   
}
.plan__title3{
    margin: 15px 0;
}
.plan li{
    text-align: center;
    margin: 10px;
}
div div>button{
    background-color: #1ebdaf7a;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    left: 170px;
    border: none;
    font-weight: 900;

}
.plan ul{

    padding: 0;

}

































footer{
    visibility: hidden;
}