
/* Banner  */

#product-overview{
    
    /* display: block; */
    /* background-color: #fe346e; */
    height: 80%;
    /* background-image: url("https://i.imgur.com/SSJ2VoT.jpg"); */
    /* background: radial-gradient( rgba(20, 4, 4, 0.11) 0%, rgba(32, 29, 29, 0.274) 59%, rgba(68, 2, 2, 0.65) 100%), url("https://i.imgur.com/SSJ2VoT.jpg") no-repeat fixed; */
    background: radial-gradient( rgba(20, 4, 4, 0.11) 0%, rgba(32, 29, 29, 0.274) 59%, rgba(68, 2, 2, 0.65) 100%), url("../imgs/BatmanVsArkhamKnight.jpg") no-repeat fixed;
    height: 200px;
    background-repeat: no-repeat;
    background-position: left 52% top;
    background-size: cover;
    /* height: 1000px; */
    text-align: center;
    margin-top: 48px;
    height: 100vh;
    /* padding-top: 30px; */
    
}
#product-overview h1{
    position: relative;
    color: white;
    text-shadow: -2px -1px 15px black;
    padding-top: 20px;
    top: 80vh;
    font-size: xx-large;
    font-family: sans-serif;

}

@media(max-width:640px){
    #product-overview h1{
        top: 80vh;
        opacity: 0.6;
        font-size: x-large;
    }
}

/* Choose your plan */

.plan__header{
    /* background-color: #7d5fff; */
    color: #6fb98f;
    /* transform: rotate(45deg); */
    text-align: center;
    margin: 25px 0;
}
/* Choose your plan CARD */

.plan{
    display: inline-block;
    width: 30%;
    height: 350px;
    /* float: left; */
    text-align: center;
    background-color: #d2fafb;
    margin: 1%;
    padding: 25px 0;
    border-radius: 10px;
    font-family : 'Arial Narrow Bold', sans-serif;
    position: relative;
    vertical-align: middle;
    /* box-sizing: border-box; */
}

.plan:nth-child(2){
    /* height: 370px; */
    transform: scaleY(1.07);
    /* position: absolute; */
    background-color: #51dacf;
    color: white;
    box-shadow: 2px -1px 4px -1px black;
    
}
.plan:nth-child(2) .plan__title{
    background-color: #4dcce2;
    display: inline-block;
    padding: 15px;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px 0px black;
}
.plan:nth-child(2) button{
    color: rgb(80, 147, 201);

}
.plan__title{
    color: #060461;
    margin: 25px 0;
}
.plan__price{
    color: #777676 ;   
    margin: 10px 0;
}
.plan__title3{
    margin: 15px 0;
}
.plan li{
    text-align: center;
    margin: 10px;
}

.plan ul{

    padding: 0;

}

.justfix{
    padding-left: 3%;
}
/* Button */
div div>button{
    background-color: #1ebdaf7a;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-weight: 900;
    cursor: pointer ;
    margin-top: 30px;

}
div div>button:hover,
div div>button:active{
    background: white;
    /* color: black; */
}
div div>button:focus{
    outline: none;
}



/* Stick Around */
#stick-around{
    margin-top: 70px;
    background-color: #ffa4d9ec ;
    padding: 50px 30px;
    overflow: hidden;
}
.stick{
    text-align: center;
}
.stick ul li{
    vertical-align: middle;
}
.stick h1{
    font-family : 'Arial Narrow Bold', sans-serif;
    /* text-align: center; */
    padding: 30px;
    /* padding-left: 171px; */
    color: white;
}

.stick li{
    display: inline-block;
    width: 31%;
    position: relative;
    min-height: 205px;
    /* overflow: hidden; */
    text-align: center;
    /* position: relative; */
    margin: 5px;
    /* background-color: red; */
}
.circle-me{
    height: 130px;
    max-width: 130px;
    background-color: rgb(165, 185, 252);
    border-radius: 50%;
    /* overflow: hidden; */
    margin: 15px auto;
    padding: 30px;
}

.circle-me+p{
    display: inline-block;
    /* margin: 20px 35%; */
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: large;
    overflow: hidden;
    /* white-space: pre-line; */
    width: 235px;
    overflow-wrap: break-word;

}
svg{
    width: 115px;
}
svg:first-of-type{
    width: 126px;
}

/* Modal */
#modal{
    display: none;
    width: 400px;
    height: 180px;
    background: white;
    position: fixed;
    margin: 90px 0px 0px 34%;
    text-align: center;
    /* display: block; */
    z-index: 300;
    border-radius: 5px;
}
#modal a{
    text-decoration: none;
}
.modal__title{
    margin-top: 25px;
}
.modal__btn{
    margin-top: 30px;
    margin-right: 10px;
    font-size: 1.5rem;
    font-family: sans-serif;
    width: 70px;
    border-radius: 5px;
}
.modal--yes{
    background: #3ae374;
    padding: 5px 9px;
}
.modal--no{
    background: #ff4d4d;
    padding: 5px 3px;
}
@media(max-width: 640px){

    /* Plans */

    #plans{
        text-align: center;
    }
    .plan{
        display: inline-block;
        width: 75%;
        margin-bottom: 25px;
        float: none;
    }
    /* Modal */
    #modal{
        margin-left: 20%;
    }

    /* Stick around */
    .stick li{
    display: inline; 
    width: max-content;
    position: relative;
    min-height: 205px;
    text-align: center;
    }
}





