.container{
    padding-top: 32px;
    position: relative;
}
.container::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url(../imgs/plans-background.jpg) center/cover fixed;
    filter: blur(1px) grayscale(70%);
  }
.our-plans{
    min-height: calc(100vh - 100px);
}
.our-plan a{
    text-decoration: none;
    padding :60px;
    display: block;
    border: 3px solid green;
    margin: 30px 150px;
    background-color: rgb(207, 235, 165);
}
.our-plan a:hover{
    border: 4px solid orange;
}

.our-plan h1{
    color: black;
    padding-bottom: 20px;
}

.our-plan h2{
    color: grey;
    padding-bottom: 20px;

}

.our-plan p {
    background-color: white;
    font-size: x-large;
    padding: 15px 8px;
    border: 1px solid green;
}

.our-plan:last-child a{
    background-color: rgb(9, 134, 9);
    position: relative;

}

.our-plan:nth-child(2) a{
    background-color: rgb(204, 236, 204);
    transform: scaleX(1.05);
}
.our-plan:nth-child(1) a{
    margin-top: 49px;
    position: relative;

}
.our-plan:last-child h1{
    color: white;
    text-shadow: 1px 1px 2px black;
}
.our-plan:last-child h2{
    text-shadow: -1px 1px 4px black;
    
}
.our-plan:last-child p{
    border: 1px solid black;
}
.our-plan:last-child a{
    border: 3px solid black;
}

h2.recom{
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    font-family: sans-serif;
    padding: 10px;
    font-size: large;
    margin: 15px;
    background-color: coral;


}
